footer.footer
    .bg.bg_footer
        .bg__shape3.container
            .bg__rect4
    .container
        .footer__wrapper
            .fcontact.fcontact_padding
                section
                    h2.caption.caption_footer Gen in Touch
                    p.ftext.ftext_mbottom Send us a letter if you have any questions
                a(href="#header-form").flink Contact us
        .fbottom
            .fbottom__left
                p.fauthor &copy; 2019 KlientWave LCC. All rights reserved
            .fbottom__right.fsocial
                a(href="#fb").fsocial__link
                    img(src="img/facebook-logo.png", alt="facebook")
                a(href="#ld").fsocial__link
                    img(src="img/linkedin-logo.png", alt="linkedin")
                a(href="#tw").fsocial__link
                    img(src="img/twitter-logo.png", alt="linkedin")
