header.header
    .header__back
    .container
        .logo
            a(href="/").logo__link
                img(src="img/logo.png", alt="Client Wawe").logo__img
        .content#content
            article.hdtext
                h1.caption.caption_small Acquire <span class='caption__line caption__line_sm'>more</span><br> <span class='caption__line caption__line_sm'>customers</span> with powerful PPC strategy
                p.hdtext__article We know it's not to build a business from scratch. Get our full-service growth package to step into the high-growth business world.
            form(action='#' name='hdform' id="header-form").hdform.hdform_mright
                .hdform__content.hdform__content_active
                    .hdform__container
                        ul.progressbar
                            li.progressbar__item.progressbar__item_active 1
                                .progressbar__line
                            li.progressbar__item 2
                                .progressbar__line
                            li.progressbar__item 3
                    .hdform__container
                        fieldset.form
                            .form__wrap
                                label(for="goal") What is your goal?
                                .form__selwrap
                                    select(required="required")#goal.form__select
                                        option(disabled selected) Choose goal
                                        option Lorem
                                        option Lorem
                            .form__wrap.form__wrap_mtop
                                label(for="advertise") Where do you advertise?
                                .form__selwrap
                                    select(required="required")#advertise.form__select 
                                        option(disabled selected) Choose target
                                        option Lorem
                                        option Lorem
                            button(type="button" name="next1").linkBtn.hdnext
                                span Continue &gt;
                    .formlist
                        .formlist__line
                        .formlist__titleWrap
                            p.form-info__title In proposal you will get:
                        .formlist__container
                            ul.formlist__items
                                li.formlist__item
                                    img(src='img/competitions.png' alt='competitions').formInfo__img
                                    p.formlist__text Competitors info
                                li.formlist__item
                                    img(src='img/pricing.png' alt='pricing').formInfo__img
                                    p.formlist__text Flexible <br> custom pricing
                                li.formlist__item
                                    img(src='img/tips.png' alt='tips').formInfo__img
                                    p.formlist__text Optimization tips
                .hdform__content
                    .hdform__container
                        ul.progressbar
                            li.progressbar__item.progressbar__item_active 1
                                .progressbar__line.progressbar__line_active
                            li.progressbar__item.progressbar__item_active 2
                                .progressbar__line
                            li.progressbar__item 3
                    .hdform__container
                        fieldset.form
                            .form__wrap
                                label(for="sales") Do you want leads or sales?
                                .form__selwrap
                                    select(required="required")#sales.form__select
                                        option(disabled selected) Choose
                                        option Lorem
                                        option Lorem
                            .form__wrap.form__wrap_mtop
                                label(for="spend") What is your mounthly PPC spend?
                                .form__selwrap
                                    select(required="required")#spend.form__select 
                                        option(disabled selected) Choose
                                        option Lorem
                                        option Lorem
                            button(type="button" name="next2").linkBtn.hdnext 
                                span Last Step &gt;
                        .avatar
                            .avatar__imgWrap
                                img(src="img/avatar.png", alt="avatar").avatar__img
                            .avatar__wrap
                                p.avatar__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.
                                p.avatar__who - Kate
                .hdform__content
                    .hdform__container
                        ul.progressbar
                            li.progressbar__item.progressbar__item_active 1
                                .progressbar__line.progressbar__line_active
                            li.progressbar__item.progressbar__item_active 2
                                .progressbar__line.progressbar__line_active
                            li.progressbar__item.progressbar__item_active 3
                    .hdform__container
                        fieldset.form
                            p.form__wrap.form__wrap_mtop
                                label(for="website") What's your webdite?
                                input(type="text" required)#website.form__input
                            p.form__wrap.form__wrap_mtop
                                label(for="name1") What's your name?
                                input(type="text" required)#name1.form__input 
                            p.form__wrap.form__wrap_mtop
                                label(for="name2") What's your name?
                                input(type="text" required)#name2.form__input 
                            input(type="submit" value="Get Bonus & Offer").form__submit
                .hdform__content.hdform_height
                    .hdform__thank-wrap
                        .hdform__container.hdform__thank
                            h2.hdform__thank-capt Thank you
                            p.hdform__thank-text Your message was send successfully. 
                .search
                    img(src="img/search.png", alt="search")
                .shape
                    img(src="img/shape.png", alt="shape")
                .rectangle
                    .rectangle__top
                    ul.rectangle__lines
                        - for (var i=0; i<3; i++)
                            li.rectangle__line
                .diagram
                    img(src="img/form-diagrm.png", alt="diagram")   
    .bg
        .bg__shape1.container
            .bg__rect1
            .bg__rect2


        

                