main.main#main
    .gradient
        .container
            section.working
                h2.working__title We are working with
                .working__container
                    .owl-carousel#slider-one
                        .working__item 
                            .working__imgContainer
                                img(src="img/bing.png", alt="bing").working__img
                        .working__item  
                            .working__imgContainer
                                img(src="img/google.png", alt="bing").working__img
                        .working__item 
                            .working__imgContainer
                                img(src="img/hubspot.png", alt="bing").working__img
                        .working__item  
                            .working__imgContainer
                                img(src="img/linkedin.png", alt="bing").working__img
                        .working__item 
                            .working__imgContainer
                                img(src="img/facebook.png", alt="bing").working__img
                        .working__item 
                            .working__imgContainer 
                                img(src="img/mgid.png", alt="bing").working__img
    .howworks-wrapper
        .container
            section.howworks
                h2.caption How <span class="caption__line caption__line-blue"> it works </span>
                .cards#cards
                    article.card   
                        .card__imgCont
                            img(src="img/research.png", alt="research").card__img
                        .card__titleCont
                            h3.card__title Research
                        p.card__text We will help you define your target audience and build scalable campaigns that best fit them.
                    article.card     
                        .card__imgCont
                            img(src="img/buildtest.png", alt="build test").card__img
                        .card__titleCont
                            h3.card__title Build List
                        p.card__text If you can not measure it, you can not improve it. Let's find out which metrics and KP's to measure for healthy growth.
                    article.card     
                        .card__imgCont
                            img(src="img/setup.png", alt="set-up").card__img
                        .card__titleCont
                            h3.card__title Set-up Campaigns
                        p.card__text We will help you define your target audience and build scalable campaigns that best fit them.
                    article.card     
                        .card__imgCont
                            img(src="img/launch.png", alt="launch").card__img
                        .card__titleCont
                            h3.card__title Launch
                        p.card__text If you can not measure it, you can not improve it. Let's find out which metrics and KP's to measure for healthy growth.
                    article.card     
                        .card__imgCont
                            img(src="img/awesome.png", alt="awesome").card__img
                        .card__titleCont
                            h3.card__title Awesome
                        p.card__text We will help you define your target audience and build scalable campaigns that best fit them.
        .team#team
            .bg
                .bg__shape2.container
                    .bg__rect3
            .container
                .team__wrapper.owl-carousel#slider-two
                    .quotes
                        .quotes__left
                            img(src="img/boy1.png", alt="Platon Borodatyi").quotes__img
                        .quotes__right
                            article.quotes__text-wrap
                                h1.caption Meet the <span class="caption__line caption__line-violet">Team</span>
                                p.quotes__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound teachings.
                                p.quotes__author Platon Borodatyi
                                p.quotes__position Seo
                            .quotes__logo
                                img(src="img/quote.png", alt="").quotes__logoImg
                            .qnav
                                .qnav__item.qnav_left
                                    img(src='img/left.png' alt='prev') 
                                .qnav__item.qnav_right
                                    img(src='img/right.png'  alt='next') 
                    .quotes
                        .quotes__left
                            img(src="img/boy1.png", alt="Platon Borodatyi").quotes__img
                        .quotes__right
                            article.quotes__text-wrap
                                h1.caption Meet the <span class="caption__line caption__line-violet">Team</span>
                                p.quotes__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound teachings.
                                p.quotes__author Platon Borodatyi
                                p.quotes__position Seo
                            .quotes__logo
                                img(src="img/quote.png", alt="").quotes__logoImg
                            .qnav
                                .qnav__item.qnav_left
                                    img(src='img/left.png'  alt='prev') 
                                .qnav__item.qnav_right
                                    img(src='img/right.png'  alt='next') 
    .package-wrapper
        .bg.bg_footer
            .bg__shape4.container
                .bg__rect5
        .container
            section.package
                h2.caption.caption_package What <span class="caption__line caption__line-rose">else</span> is in <span class="caption__line caption__line-rose">the package?</span>
            .packs__back
                .packs-wrap#slider-three.owl-carousel
                    .packs-cont
                        .packs
                            .packs__container
                                .packs__img-wrap
                                    img(src="img/dedicated.png", alt="Dedicated account managers").packs__img
                                p.packs__title Dedicated account <br> managers
                                p.packs__text A dedicated account manager works closely with our clients to ensure the quality of the service.
                    .packs-cont.packs_second
                        .packs
                            .packs__container
                                .packs__img-wrap
                                    img(src="img/creative.png", alt=" Creative campaign creation").packs__img
                                p.packs__title Creative campaign <br> creation
                                p.packs__text We'll also help you design all the creatives you need to run your campaigns.
                    .packs-cont.packs_third
                        .packs
                            .packs__container
                                .packs__img-wrap
                                    img(src="img/daily.png", alt="Daily and weekly updates").packs__img
                                p.packs__title Daily and weekly <br> updates
                                p.packs__text We'll also help you design all the creatives you need to run your campaigns.
    .case-wrapper
        .container
            section.case.case_padding
                h2.caption <span class="caption__line caption__line-yellow">Case </span> studies
            .case-wrapper__content#slider-for.owl-carousel
                .casebox
                    .casebox__left
                        .casebox__wrapper
                            .casebox__img-wrap
                                img(src="img/geogram.png", alt="Geogram").casebox__img
                                h2.casebox__title-wrap GoGram goes global with ConvWave and achieves <br> stunning digital results in first month
                            p.casebox__text GoGram is a professional instagram promotiong tool (also known as Tooligram), came to KlientWave with the goal  of extending their business to the international level &amp; acquire new users around the world through Google Ads traffic with the desired cost per convertion $3.00
                            p.casebox__text Already within the initial 14-days test period, KlientWave reach the $2.50 conversion cost and after the optimization decreased cost per acquisition on 44% and has achieved $1.40 cost per lead.
                            img(src="img/statistic.png", alt="GoGram goes global with ConvWave and achieves stunning digital results in first month").casebox__statistic-img
                    .casebox__right
                        .casebox__wrapper
                            .whatwedid
                                h3.whatwedid__title What we did
                                p.whatwedid__text Global keywords research (934.485 keywords)
                                p.whatwedid__text A separate approach to each country
                                p.whatwedid__text Conversion tracking optimization
                                .whatwedid-list
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 53%
                                        p.what-item__text lower than desired <br> Cost per Convertion
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 46%
                                        p.what-item__text increase in convertion <br> volume
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 15.2%
                                        p.what-item__text Convertion rate <br> achieved
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 15.4%
                                        p.what-item__text Click through rate <br> achieved
                .casebox
                    .casebox__left
                        .casebox__wrapper
                            .casebox__img-wrap
                                img(src="img/geogram.png", alt="Geogram").casebox__img
                                h2.casebox__title-wrap GoGram goes global with ConvWave and achieves <br> stunning digital results in first month
                            p.casebox__text GoGram is a professional instagram promotiong tool (also known as Tooligram), came to KlientWave with the goal  of extending their business to the international level &amp; acquire new users around the world through Google Ads traffic with the desired cost per convertion $3.00
                            p.casebox__text Already within the initial 14-days test period, KlientWave reach the $2.50 conversion cost and after the optimization decreased cost per acquisition on 44% and has achieved $1.40 cost per lead.
                            img(src="img/statistic.png", alt="GoGram goes global with ConvWave and achieves stunning digital results in first month").casebox__statistic-img
                    .casebox__right
                        .casebox__wrapper
                            .whatwedid
                                h3.whatwedid__title What we did
                                p.whatwedid__text Global keywords research (934.485 keywords)
                                p.whatwedid__text A separate approach to each country
                                p.whatwedid__text Conversion tracking optimization
                                .whatwedid-list
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 53%
                                        p.what-item__text lower than desired <br> Cost per Convertion
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 46%
                                        p.what-item__text increase in convertion <br> volume
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 15.2%
                                        p.what-item__text Convertion rate <br> achieved
                                    .what-item
                                        .what-item__percent
                                            span.what-item__number 15.4%
                                        p.what-item__text Click through rate <br> achieved
    .testimonials-wrapper
        .container
            section.testimonials
                h1.caption <span class="caption__line caption__line-green">Testimonials</span>
                p.testimonials__info Video clients feedback
                .videos-wrap#slider-five.owl-carousel.owl-theme
                    .videos-cont
                        .videos-items
                            .videos-left
                                .videoimg
                                    img(src="img/video-img1.jpg", alt="Jeff Grandis").videoimg__image
                                    .videoimg__play-wrap
                                        a(href="https://www.youtube.com/watch?v=3lRRrsLjeQA").videoimg__play-circle.popup-youtube
                                            img(src="img/play.png", alt="Play video").videoimg__play
                                .videos-bottom
                                    .videologo
                                        img(src="img/runs.png", alt="logo").videologo__img
                                    .videotext
                                        p.videotext__name Jeff Grandis
                                        p.videotext__who Chief Revenue Officer <a href="#" class="videotext__link">fitbit.com</a>
                        .videos-items
                            .videos-right
                                .videoimg
                                    img(src="img/video-img2.jpg", alt="Jeff Grandis").videoimg__image
                                    .videoimg__play-wrap
                                        a(href="https://www.youtube.com/watch?v=3lRRrsLjeQA").videoimg__play-circle.popup-youtube
                                            img(src="img/play.png", alt="Play video").videoimg__play
                                .videos-rightwrap
                                    .videologo.videologo--rose
                                        img(src="img/send.png", alt="logo").videologo__img
                                    .videotext
                                        p.videotext__name John Watson
                                        p.videotext__who Director of Platform Operations  
                                        a(href="#").videotext__link homely.com
                    .videos-cont
                        .videos-items
                            .videos-left
                                .videoimg
                                    img(src="img/video-img1.jpg", alt="Jeff Grandis").videoimg__image
                                    .videoimg__play-wrap
                                        a(href="https://www.youtube.com/watch?v=3lRRrsLjeQA").videoimg__play-circle.popup-youtube
                                            img(src="img/play.png", alt="Play video").videoimg__play
                                .videos-bottom
                                    .videologo
                                        img(src="img/runs.png", alt="logo").videologo__img
                                    .videotext
                                        p.videotext__name Jeff Grandis
                                        p.videotext__who Chief Revenue Officer <a href="#" class="videotext__link">fitbit.com</a>
                        .videos-items
                            .videos-right
                                .videoimg
                                    img(src="img/video-img2.jpg", alt="Jeff Grandis").videoimg__image
                                    .videoimg__play-wrap
                                        a(href="https://www.youtube.com/watch?v=3lRRrsLjeQA").videoimg__play-circle.popup-youtube
                                            img(src="img/play.png", alt="Play video").videoimg__play
                                .videos-rightwrap
                                    .videologo.videologo--rose
                                        img(src="img/send.png", alt="logo").videologo__img
                                    .videotext
                                        p.videotext__name John Watson
                                        p.videotext__who Director of Platform Operations  
                                        a(href="#").videotext__link homely.com
                    
