$BaseFont:16;

//Colors


//Header

$HeaderLine: #ffa97f;
$HeaderArticle:#43183e;
$BaseWhite:#ffffff;
$StepsActive:rgb( 15, 214, 206);
$Steps:rgb( 225, 225, 225);
$LinkColor:rgb( 255, 84, 0);
$LineColor: rgb( 235, 235, 235);
$SearchColor:#ffcc00;
$Reactangle:#574cba;
$FormRect:#e1e1e1;

//Main

$WorkingText:#0fd8d0;
$howworkLine:#86ebe7;
$backNum1:#ffb6a3;
$backNum2:#b7b4de;
$backNum3:#b4e3b1;
$backNum4: #ffd758;
$backNum5: #f9b4d9;
$quotesLine:#aba5dc;
$packegeBack:#f5f5f5;
$packegeLine:#f57af5;
$packsBack:#ffffffde;
$caseLine:#fdca02;
$caseboxBack:#574cba;
$testimonialsLine:#97de9f;
$runsBack:#f9f9f9;
$lvideoColor:#c7c1c6;
$videologoRose:#f75473;
$testimonialsInfo:rgb( 67, 24, 62);

//Footer
$FooterBack:#0fd8d0;